@import "tailwindcss";

@theme {
    --color-primary: #125777;
    --color-primary-light: #207d92;
    --color-primary-accent: #3bbec7;
    --color-primary-dark: #0e435b;
}

:root {
    color-scheme: light dark;
}

body {
    @apply bg-[#f2f2f2] text-[#1a1a1a] dark:bg-[#151515] dark:text-[#ebebeb];
}